#only in python 3.10.14
pip=25.2
scikit-learn=1.2.2
wget=3.2
shap=0.49.1
openml=0.15.1
lightgbm=4.6.0
conda-forge::ds-lime==0.1.1.27
conda-forge::lofo-importance==0.3.5
conda-forge::skater==1.0.2
conda-forge::dalex==1.7.0
conda-forge::r-base>=4.3,<4.5
conda-forge::rpy2==3.4.5
conda-forge::r-survival==3.8.3
conda-forge::r-mvtnorm==1.3.3
conda-forge::r-expm==1.0.0
conda-forge::r-polycor==0.8.1
conda-forge::r-sfsmisc==1.1_22
conda-forge::r-mass==7.3_60.0.1
conda-forge::pcre2==10.45
bioconda::r-msm==1.8.2
